In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to your local Postgres DB
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

# Download taxi zone lookup CSV
!curl -L -o taxi_zone_lookup.csv https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

# Read and load into Postgres
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 12322  100 12322    0     0   7300      0  0:00:01  0:00:01 --:--:--     0

265

In [3]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Create engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Load CSVs into DataFrames
df_trip = pd.read_csv('yellow_tripdata_2021_01.csv')  # ← update path
df_zone = pd.read_csv('taxi_zone_lookup.csv')

# Write to Postgres
df_trip.to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace', index=False)
df_zone.to_sql(name='zones', con=engine, if_exists='replace', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'yellow_tripdata_2021_01.csv'

In [8]:
import os
os.getcwd()

'/Users/roroxanne/ny_taxi_postgres_data/ny_taxi_pipeline'

In [9]:
os.listdir()

['yellow_tripdata_2021-01.csv',
 'terraform-gcp-demooject = var.project',
 '.DS_Store',
 'requirements.txt',
 'get-pip.pyegion  = "us-central1"resource "google_storage_bucket" "my_bucket" {',
 'Untitled.ipynb',
 'Dockerfile',
 'terraform-gcp-demo',
 'taxi_zone_lookup.csv',
 'ingest_data.py',
 'data_pgadmin',
 'docker-compose.yml',
 '.ipynb_checkpoints',
 'pgcli-env',
 'venv',
 'myenv']

In [11]:
df_trip = pd.read_csv('yellow_tripdata_2021-01.csv')
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_trip.to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace', index=False)
df_zone.to_sql(name='zones', con=engine, if_exists='replace', index=False)

/var/folders/sl/5x02tqmx1lz684t3j3wffwp40000gn/T/ipykernel_58974/2296267736.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trip = pd.read_csv('yellow_tripdata_2021-01.csv')

265

In [12]:
df_trip = pd.read_csv('yellow_tripdata_2021-01.csv', low_memory=False)

In [17]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
df_trip.head()
df_trip.columns
df_trip.info()
df_trip.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

(1369765, 18)

In [15]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
# Check for nulls or weird values
df_trip.isnull().sum()
df_trip.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [17]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Write the DataFrame to SQL (this may take time)
df_trip.to_sql(name='yellow_tripdata', con=engine, if_exists='replace')
df_zone.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265

In [18]:
pd.read_sql('SELECT COUNT(*) FROM yellow_tripdata', con=engine)

     count
0  1369765

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Connect to your database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Step 2: Define your SQL query as a string
query = """
SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    total_amount,
    CONCAT(zpu."Borough", ' | ', zpu."Zone") AS pickup_loc,
    CONCAT(zdo."Borough", ' | ', zdo."Zone") AS dropoff_loc
FROM 
    yellow_taxi_trips t
JOIN zones zpu ON t."PULocationID" = zpu."LocationID"
JOIN zones zdo ON t."DOLocationID" = zdo."LocationID"
LIMIT 100;
"""

# Step 3: Run the query using pandas
df = pd.read_sql(query, engine)

# Step 4: Display the result
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,total_amount,pickup_loc,dropoff_loc
0,2021-01-01 00:30:10,2021-01-01 00:36:12,11.80,Manhattan | Lincoln Square East,Manhattan | Central Park
1,2021-01-01 00:51:20,2021-01-01 00:52:19,4.30,Manhattan | Upper West Side North,Manhattan | Manhattan Valley
2,2021-01-01 00:43:30,2021-01-01 01:11:06,51.95,Queens | JFK Airport,Brooklyn | Midwood
3,2021-01-01 00:15:48,2021-01-01 00:31:01,36.35,Queens | LaGuardia Airport,Queens | JFK Airport
4,2021-01-01 00:31:49,2021-01-01 00:48:21,24.36,Manhattan | East Chelsea,Brooklyn | Brooklyn Heights

In [11]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

query = """
DELETE FROM zones WHERE "LocationID" = 142;

SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    total_amount,
    CONCAT(zpu."Borough", ' | ', zpu."Zone") AS "pickup_loc",
    CONCAT(zdo."Borough", ' | ', zdo."Zone") AS "dropoff_loc"
FROM 
    yellow_taxi_trips t
LEFT JOIN 
    zones zpu ON t."PULocationID" = zpu."LocationID"
JOIN
    zones zdo ON t."DOLocationID" = zdo."LocationID"
LIMIT 100;
"""
df = pd.read_sql(query, engine)
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,total_amount,pickup_loc,dropoff_loc
0,2021-01-01 00:30:10,2021-01-01 00:36:12,11.80,|,Manhattan | Central Park
1,2021-01-01 00:51:20,2021-01-01 00:52:19,4.30,Manhattan | Upper West Side North,Manhattan | Manhattan Valley
2,2021-01-01 00:43:30,2021-01-01 01:11:06,51.95,Queens | JFK Airport,Brooklyn | Midwood
3,2021-01-01 00:15:48,2021-01-01 00:31:01,36.35,Queens | LaGuardia Airport,Queens | JFK Airport
4,2021-01-01 00:31:49,2021-01-01 00:48:21,24.36,Manhattan | East Chelsea,Brooklyn | Brooklyn Heights

In [12]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

query = """
SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    total_amount,
    CONCAT(zpu."Borough", ' | ', zpu."Zone") AS "pickup_loc",
    CONCAT(zdo."Borough", ' | ', zdo."Zone") AS "dropoff_loc"
FROM 
    yellow_taxi_trips t
RIGHT JOIN 
    zones zpu ON t."PULocationID" = zpu."LocationID"
JOIN
    zones zdo ON t."DOLocationID" = zdo."LocationID"
LIMIT 100;
"""
df = pd.read_sql(query, engine)
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,total_amount,pickup_loc,dropoff_loc
0,2021-01-01 00:30:10,2021-01-01 00:36:12,11.80,Manhattan | Lincoln Square East,Manhattan | Central Park
1,2021-01-01 00:51:20,2021-01-01 00:52:19,4.30,Manhattan | Upper West Side North,Manhattan | Manhattan Valley
2,2021-01-01 00:43:30,2021-01-01 01:11:06,51.95,Queens | JFK Airport,Brooklyn | Midwood
3,2021-01-01 00:15:48,2021-01-01 00:31:01,36.35,Queens | LaGuardia Airport,Queens | JFK Airport
4,2021-01-01 00:31:49,2021-01-01 00:48:21,24.36,Manhattan | East Chelsea,Brooklyn | Brooklyn Heights

In [13]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

query = """
SELECT
    CAST(tpep_dropoff_datetime AS DATE) AS "day",  
    COUNT(1)                                        
FROM 
    yellow_taxi_trips                              
GROUP BY
    CAST(tpep_dropoff_datetime AS DATE)            
LIMIT 100; 
"""
df = pd.read_sql(query, engine)
df.head()

          day  count
0  2008-12-31      1
1  2009-01-01      3
2  2020-10-13      1
3  2020-12-31      9
4  2021-01-01  24672

In [15]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

query = """
SELECT
    CAST(tpep_dropoff_datetime AS DATE) AS "day",
    "DOLocationID",
    COUNT(1) AS "count",
    MAX(total_amount) AS "total_amount",
    MAX(passenger_count) AS "passenger_count"
FROM 
    yellow_taxi_trips
GROUP BY
    1, 2
ORDER BY
    "day" ASC, 
    "DOLocationID" ASC
LIMIT 100;
"""
df = pd.read_sql(query, engine)
df.head()

          day  DOLocationID  count  total_amount  passenger_count
0  2008-12-31           193      1           0.0              1.0
1  2009-01-01            10      1          14.3              1.0
2  2009-01-01            89      1          10.3              1.0
3  2009-01-01           238      1          11.8              6.0
4  2020-10-13           234      1          13.3              1.0